/* #region Main */
body{
  font-family: "Roboto", sans-serif;
  color:#434455;
  background-color:  #fff;
}
ul
{
  list-style-type: none;
}
a
{
  text-decoration: none;
}
/* #endregion Main */
/* #region Header */
.logo
{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-logo .logo-part
{
color:#2e2f42;
} 
.nav-link
 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
color: #404bbf;
}
.contacts
{
font-style:normal;  
}
.contacts-link 
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* #endregion Header */
/* #region Hero-Main title */
.section-hero
{
 background-color:#2e2f42; 
}
.hero 
{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}
.hero-button
{
font-family: inherit;
font-weight: 500;
font-size: 16px;
font-style: normal;
background-color: #4d5ae5;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus
{
background-color: #404BBF
}
/* #endregion Hero-Main title */
/* #region Feature */
.feature-title
{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.feature-text
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/* #endregion Feature */
/* #region Our team */
.team
{
background-color: #f4f4fd;
}
.team-page,
.portfolio-page
{
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.team-item
{
background-color: #fff;
}
.team-name
{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
} 
.team-profession
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
/* #endregion Our team */
/* #region Portfolio */
.portfolio-title
{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;  
text-transform: capitalize;
text-align: left;
}
.portfolio-item
{

}
.portfolio-text
{
 font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455; 
text-align: left;
}
/* #endregion Portfolio */
/* #region Footer */
.page-footer
{
background-color: #2e2f42;
}
.footer-logo .logo-part
{
color: #f4f4fd;
} 
.footer-text{
font-size: 16px;
color: #f4f4fd;
line-height: 1.5;
letter-spacing: 0.02em;
}
 /* #endregion Footer */